[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
unittest-xml-reporting = "~=3.0"
flake8 = "~=3.8"
flake8-junit-report = "~=2.1"
pre-commit = "~=2.7"
black = "==19.10b0"
isort = "~=5.4"
ordered-enum = "~=0.0"

[packages]

[requires]
python_version = "3.8"
